 :host ::ng-deep {

     .p-panelmenu {
         color: black;

         .p-panelmenu-header>a {
             background-color: var(--surface-card);
             border: none;
             color: black;
             margin-top: 7%;
         }

         .p-panelmenu-header.p-highlight>a {
             background-color: var(--blue-500);
             color: white;
         }

         .p-panelmenu-header.p-highlight:not(.p-disabled)>a:hover {
             background-color: var(--blue-500);
             color: white;
         }

         .p-panelmenu-content {
             border: none;
             background-color: var(--blue-50);
         }

         .p-menuitem {
             margin-top: 1%;
         }


     }
 }