<p-accordion styleClass="teste">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <label>
                <i class="pi pi-calendar"></i> {{calendario.configuracao.nome === '' ? ('Calendario '+ calendario.id) : calendario.configuracao.nome}}
            </label>
        </ng-template>
        <a [routerLink]="'../visualizar/'+calendario.id">
            <div class="formgrid grid mt-3">
                <div class="field col-4">
                    <span class="p-float-label">
                        <label>{{calendario.configuracao.anoInicial + ' - '+ calendario.configuracao.anoFinal}}</label>
                    </span>
                </div>
                <div class="field col-4">
                    <span class="p-float-label">
                        <label>{{calendario.datas.length}} datas</label>
                    </span>
                </div>
                <div class="field col-4">
                    <span class="p-float-label">
                        <label>{{calendario.configuracao.meses.length}} meses</label>
                    </span>
                </div>
            </div>
            <div class="formgrid grid mt-3">
                <div class="field col-4">
                    <span class="p-float-label">
                        <label for="bissexto">Bissexto?: {{calendario.configuracao.bissexto == true? 'Sim':'Não'}}</label>
                    </span>
                </div>
                <div class="field col-4">
                    <span class="p-float-label">
                        <label for="bissexto">Dia inicial: {{diaInicial.sigla}}</label>
                    </span>
                </div>
                <div class="field col-4">
                    <span class="p-float-label">
                        <label for="bissexto">Usuario: {{calendario.nomeUsuario}}</label>
                    </span>
                </div>
            </div>
        </a>
        <div *ngIf="editavel == true"
            class="formgrid grid mt-4 mb-0 flex justify-content-center">
            <div class="field col-1">
                <button pButton
                    pRipple
                    icon="pi pi-cog"
                    class="p-button-rounded p-button-secondary"
                    (click)="botaoConfig(calendario)">
                </button>
            </div>
            <div class="field col-1">
                <button pButton
                    pRipple
                    icon="pi pi-trash"
                    (click)="botaoDeletar(calendario)"
                    class="p-button-rounded p-button-danger">
                </button>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>