<div class="grid mt-4 flex justify-content-center">
    <div class="col-11">
        <p-card header="Bem vindo">
            <p-card>
                <div class="col-12">
                    <h1>{{'Seja bem vindo ' + user.nome}}</h1>
                </div>
                <div class="col-12">
                    <h3>O que deseja fazer hoje?</h3>
                </div>
                <div class="mt-3 grid col-12">
                    <div class="col-4">
                        <label routerLink="/cadastro/dia"
                            class="p-3">Consultar Dias</label>
                    </div>
                    <div class="col-4">
                        <label routerLink="/cadastro/mes"
                            class="p-3">Consultar Meses</label>
                    </div>
                    <div class="col-4">
                        <label routerLink="/compromisso"
                            class="p-3">Consultar Compromissos</label>
                    </div>
                </div>
                <div class="grid col-12">
                    <div class="col-4">
                        <label routerLink="/calendario"
                            class="p-3">Consultar Calendarios</label>
                    </div>
                    <div class="col-4">
                        <label routerLink="/calendario/novo"
                            class="p-3">Criar Calendario</label>
                    </div>
                    <div class="col-4">
                        <label routerLink="/usuario"
                            class="p-3">Gerenciar Conta</label>
                    </div>
                </div>
            </p-card>
        </p-card>
    </div>
</div>